$clockspeed: 1;

$on: linear-gradient(to bottom, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
$off: #f6f6f6;

secondsAnimation {
  animation-duration: 10s / $clockspeed;
}

tenssecondsAnimation {
  animation-duration: 60s / $clockspeed;
}

minutesAnimation {
  animation-duration: 600s / $clockspeed;
}

tensminutesAnimation {
  animation-duration: 3600s / $clockspeed;
}

// Animation for digits counting 0 - 10
@keyframes tenp0 {
    00% { background: $on }
    10% { background: $off }
    20% { background: $on }
    30% { background: $on }
    40% { background: $off }
    50% { background: $on }
    60% { background: $on }
    70% { background: $on }
    80% { background: $on }
    90% { background: $on }
    100% { background: $on }
}

@keyframes tenp1 {
    00% { background: $on }
    10% { background: $off }
    20% { background: $off }
    30% { background: $off }
    40% { background: $on }
    50% { background: $on }
    60% { background: $on }
    70% { background: $off }
    80% { background: $on }
    90% { background: $on }
    100% { background: $on }
}

@keyframes tenp2 {
    00% { background: $on }
    10% { background: $on }
    20% { background: $on }
    30% { background: $on }
    40% { background: $on }
    50% { background: $off }
    60% { background: $off }
    70% { background: $on }
    80% { background: $on }
    90% { background: $on }
    100% { background: $on }
}

@keyframes tenp3 {
    00% { background: $off }
    10% { background: $off }
    20% { background: $on }
    30% { background: $on }
    40% { background: $on }
    50% { background: $on }
    60% { background: $on }
    70% { background: $off }
    80% { background: $on }
    90% { background: $on }
    100% { background: $off }
}

@keyframes tenp4 {
    00% { background: $on }
    10% { background: $off }
    20% { background: $on }
    30% { background: $off }
    40% { background: $off }
    50% { background: $off }
    60% { background: $on }
    70% { background: $off }
    80% { background: $on }
    90% { background: $off }
    100% { background: $on }
}

@keyframes tenp5 {
    00% { background: $on }
    10% { background: $on }
    20% { background: $off }
    30% { background: $on }
    40% { background: $on }
    50% { background: $on }
    60% { background: $on }
    70% { background: $on }
    80% { background: $on }
    90% { background: $on }
    100% { background: $on }
}

@keyframes tenp6 {
    00% { background: $on }
    10% { background: $off }
    20% { background: $on }
    30% { background: $on }
    40% { background: $off }
    50% { background: $on }
    60% { background: $on }
    70% { background: $off }
    80% { background: $on }
    90% { background: $on }
    100% { background: $on }
}

// Animation for digits counting 0 - 5
@keyframes sixp0 {
    00% { background: $on }
    16.67% { background: $off }
    33.33% { background: $on }
    50% { background: $on }
    66.67% { background: $off }
    83.33% { background: $on }
    100% { background: $on }
}

@keyframes sixp1 {
    00% { background: $on }
    16.67% { background: $off }
    33.33% { background: $off }
    50% { background: $off }
    66.67% { background: $on }
    83.33% { background: $on }
    100% { background: $on }
}

@keyframes sixp2 {
    00% { background: $on }
    16.67% { background: $on }
    33.33% { background: $on }
    50% { background: $on }
    66.67% { background: $on }
    83.33% { background: $off }
    100% { background: $off }
}

@keyframes sixp3 {
    00% { background: $off }
    16.67% { background: $off }
    33.33% { background: $on }
    50% { background: $on }
    66.67% { background: $on }
    83.33% { background: $on }
    100% { background: $on }
}

@keyframes sixp4 {
    00% { background: $on }
    16.67% { background: $off }
    33.33% { background: $on }
    50% { background: $off }
    66.67% { background: $off }
    83.33% { background: $off }
    100% { background: $off }
}

@keyframes sixp5 {
    00% { background: $on }
    16.67% { background: $on }
    33.33% { background: $off }
    50% { background: $on }
    66.67% { background: $on }
    83.33% { background: $on }
    100% { background: $on }
}

@keyframes sixp6 {
    00% { background: $on }
    16.67% { background: $off }
    33.33% { background: $on }
    50% { background: $on }
    66.67% { background: $off }
    83.33% { background: $on }
    100% { background: $on }
}
