@import 'animation';
@import 'positions';

segment {
  width: $segment-width;
  height: $segment-height;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: step-end;
}

_verticalSegment {
  @extend segment;
  width: $segment-height;
  height: $segment-width;
}

verticalSegmentLeft {
  @extend _verticalSegment;
  margin-left: 0px;
}

verticalSegmentRight {
  @extend _verticalSegment;
  margin-left: $segment-width + $segment-height;
}

horizontalSegment {
  @extend segment;
  margin-left: $segment-height;
}

#seconds_p0 {
  @extend horizontalSegment;
  @extend secondsAnimation;
  animation-name: tenp0;
}
#seconds_p0::before{
  @extend segment;
  content: "";
  width: $segment-height / 1.414;
  height: $segment-height / 1.414;
  transform: translate(-7px, 3px) rotate(45deg);
  @extend secondsAnimation;
  animation-name: tenp0;
  z-index: -1;
}
#seconds_p0::after{
  @extend segment;
  content: "";
  width: $segment-height / 1.414;
  height: $segment-height / 1.414;
  transform: translate($segment-width - $segment-height / 2 + 3, 3px) rotate(45deg);
  @extend secondsAnimation;
  animation-name: tenp0;
  z-index: -1;
}

#seconds_p1 {
  @extend verticalSegmentLeft;
  @extend secondsAnimation;
  margin-top: $segment-height;
  animation-name: tenp1;
}

#seconds_p2 {
  @extend verticalSegmentRight;
  @extend secondsAnimation;
  margin-top: $segment-height;
  animation-name: tenp2;
}

#seconds_p3 {
  @extend horizontalSegment;
  @extend secondsAnimation;
  margin-top: $segment-width + $segment-height;
  animation-name: tenp3;
}

#seconds_p4 {
  @extend verticalSegmentLeft;
  @extend secondsAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: tenp4;
}

#seconds_p5 {
  @extend verticalSegmentRight;
  @extend secondsAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: tenp5;
}

#seconds_p6 {
  @extend horizontalSegment;
  @extend secondsAnimation;
  margin-top: 2 * $segment-width + 2 * $segment-height;
  animation-name: tenp6;
}


// Tens of seconds
#tensseconds_p0 {
  @extend horizontalSegment;
  @extend tenssecondsAnimation;
  animation-name: sixp0;
}

#tensseconds_p1 {
  @extend verticalSegmentLeft;
  @extend tenssecondsAnimation;
  margin-top: $segment-height;
  animation-name: sixp1;
}

#tensseconds_p2 {
  @extend verticalSegmentRight;
  @extend tenssecondsAnimation;
  margin-top: $segment-height;
  animation-name: sixp2;
}

#tensseconds_p3 {
  @extend horizontalSegment;
  @extend tenssecondsAnimation;
  margin-top: $segment-width + $segment-height;
  animation-name: sixp3;
}

#tensseconds_p4 {
  @extend verticalSegmentLeft;
  @extend tenssecondsAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: sixp4;
}

#tensseconds_p5 {
  @extend verticalSegmentRight;
  @extend tenssecondsAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: sixp5;
}

#tensseconds_p6 {
  @extend horizontalSegment;
  @extend tenssecondsAnimation;
  margin-top: 2 * $segment-width + 2 * $segment-height;
  animation-name: sixp6;
}

// Minutes
#minutes_p0 {
  @extend horizontalSegment;
  @extend minutesAnimation;
  animation-name: tenp0;
}

#minutes_p1 {
  @extend verticalSegmentLeft;
  @extend minutesAnimation;
  margin-top: $segment-height;
  animation-name: tenp1;
}

#minutes_p2 {
  @extend verticalSegmentRight;
  @extend minutesAnimation;
  margin-top: $segment-height;
  animation-name: tenp2;
}

#minutes_p3 {
  @extend horizontalSegment;
  @extend minutesAnimation;
  margin-top: $segment-width + $segment-height;
  animation-name: tenp3;
}

#minutes_p4 {
  @extend verticalSegmentLeft;
  @extend minutesAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: tenp4;
}

#minutes_p5 {
  @extend verticalSegmentRight;
  @extend minutesAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: tenp5;
}

#minutes_p6 {
  @extend horizontalSegment;
  @extend minutesAnimation;
  margin-top: 2 * $segment-width + 2 * $segment-height;
  animation-name: tenp6;
}


// Tens of tensminutes
#tensminutes_p0 {
  @extend horizontalSegment;
  @extend tensminutesAnimation;
  animation-name: sixp0;
}

#tensminutes_p1 {
  @extend verticalSegmentLeft;
  @extend tensminutesAnimation;
  margin-top: $segment-height;
  animation-name: sixp1;
}

#tensminutes_p2 {
  @extend verticalSegmentRight;
  @extend tensminutesAnimation;
  margin-top: $segment-height;
  animation-name: sixp2;
}

#tensminutes_p3 {
  @extend horizontalSegment;
  @extend tensminutesAnimation;
  margin-top: $segment-width + $segment-height;
  animation-name: sixp3;
}

#tensminutes_p4 {
  @extend verticalSegmentLeft;
  @extend tensminutesAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: sixp4;
}

#tensminutes_p5 {
  @extend verticalSegmentRight;
  @extend tensminutesAnimation;
  margin-top: $segment-width + 2 * $segment-height;
  animation-name: sixp5;
}

#tensminutes_p6 {
  @extend horizontalSegment;
  @extend tensminutesAnimation;
  margin-top: 2 * $segment-width + 2 * $segment-height;
  animation-name: sixp6;
}
