@import 'animation';

$pixel-width: 80px;
$pixel-height: 20px;
$margin-left: 30px;

pixel {
  width: $pixel-width;
  height: $pixel-height;
  position: absolute;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  // background-color: $off;
}

_verticalPixel {
  @extend pixel;
  width: $pixel-height;
  height: $pixel-width;
}

verticalPixelLeft {
  @extend _verticalPixel;
  margin-left: $margin-left - $pixel-height;
}

verticalPixelRight {
  @extend _verticalPixel;
  margin-left: $margin-left + $pixel-width;
}

horizontalPixel {
  @extend pixel;
  margin-left: $margin-left;
}

#p0 {
  @extend horizontalPixel;
  animation-name: p0;
}

#p1 {
  @extend verticalPixelLeft;
  margin-top: $pixel-height;
  animation-name: p1;
}

#p2 {
  @extend verticalPixelRight;
  margin-top: $pixel-height;
  animation-name: p2;
}

#p3 {
  @extend horizontalPixel;
  margin-top: $pixel-width + $pixel-height;
  animation-name: p3;
}

#p4 {
  @extend verticalPixelLeft;
  margin-top: $pixel-width + 2 * $pixel-height;
  animation-name: p4;
}

#p5 {
  @extend verticalPixelRight;
  margin-top: $pixel-width + 2 * $pixel-height;
  animation-name: p5;
}

#p6 {
  @extend horizontalPixel;
  margin-top: 2 * $pixel-width + 2 * $pixel-height;
  animation-name: p6;
}
