// Width and height of each digit segment
$segment-width: 80px;
$segment-height: 20px;

// The total width of each digit
$digit-width: $segment-width + 2 * $segment-height;

// The space between each digit
$digit-spacing: $segment-height * 2;

// The space to separate each group of digits (i.e. minutes and seconds)
$separate-digit-groups: $segment-height * 2;

.clock {
  margin-right: auto;
  margin-left: auto;
  width: 1px;
  height: 200px;
}

#seconds {
    margin-left: $digit-spacing + $digit-width + $separate-digit-groups;
}
#tensseconds {
  margin-left: $separate-digit-groups;
}
#minutes {
  margin-left: $digit-width * -1 - $separate-digit-groups;
}
#tensminutes {
  margin-left: $digit-spacing * -1 + $digit-width * -2 - $separate-digit-groups;
}
