$segment-width: 80px;
$segment-height: 20px;
$margin-left: 30px;

.clock {
  margin-right: auto;
  margin-left: auto;
  width: 20%;
  height: 200px;
}


$spacing: 100px;

#seconds {
    margin-left: 600px;
}
#tensseconds {
  margin-left: 400px;
}
#minutes {
  margin-left: 200px;
}
#tensminutes {
  margin-left: 0px;
}
